<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">AJ Canaria</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Experiential</a>
            <a class="dropdown-item" href="#">Architecture</a>
            <a class="dropdown-item" href="#">Aerial</a>
            <a class="dropdown-item" href="#">Adventure</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Photography & Videography</strong>
        </h1>
        <hr>
      </div>
    </div>
  </div>
</header>

<div class="parallax1">
  <div class="parallax-title"><%= link_to 'EXPERIENTIAL', portfolio_experiential_path, class: "parallax-link" %></div>
</div>

<section class="parallax-box1">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading">Capturing The Experience</h1>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, tota aeque at est. Epicuri expetendis cu ius, sed et agam deleniti, cum ad ferri volumus disputando. Ne primis labitur comprehensam eam, ius iusto mentitum in. His ad nonumy urbanitas. Eu vix splendide temporibus scribentur.</p>
      <%= link_to 'View More', portfolio_experiential_path, class: "btn btn-primary btn-xl js-scroll-trigger learn-more" %>
    </div>
  </div>
</section>

<div class="parallax2">
  <div class="parallax-title"><%= link_to 'ARCHITECTURE', portfolio_architecture_path, class: "parallax-link" %></div>
</div>

<section class="parallax-box2">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading">The World's Legos</h1>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, tota aeque at est. Epicuri expetendis cu ius, sed et agam deleniti, cum ad ferri volumus disputando. Ne primis labitur comprehensam eam, ius iusto mentitum in. His ad nonumy urbanitas. Eu vix splendide temporibus scribentur.</p>
      <%= link_to 'View More', portfolio_architecture_path, class: "btn btn-primary btn-xl js-scroll-trigger learn-more" %>
    </div>
  </div>
</section>

<div class="parallax3">
  <div class="parallax-title"><%= link_to 'AERIAL', portfolio_aerial_path, class: "parallax-link" %></div>
</div>

<section class="parallax-box3">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading">A View From Above</h1>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, tota aeque at est. Epicuri expetendis cu ius, sed et agam deleniti, cum ad ferri volumus disputando. Ne primis labitur comprehensam eam, ius iusto mentitum in. His ad nonumy urbanitas. Eu vix splendide temporibus scribentur.</p>
      <%= link_to 'View More', portfolio_aerial_path, class: "btn btn-primary btn-xl js-scroll-trigger learn-more" %>
    </div>
  </div>
</section>

<div class="parallax4">
  <div class="parallax-title"><%= link_to 'ADVENTURE', portfolio_adventure_path, class: "parallax-link" %></div>
</div>

<section class="parallax-box4">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="section-heading">Oh The Places You'll Go</h1>
      <hr class="my-4">
      <p>Lorem ipsum dolor sit amet, tota aeque at est. Epicuri expetendis cu ius, sed et agam deleniti, cum ad ferri volumus disputando. Ne primis labitur comprehensam eam, ius iusto mentitum in. His ad nonumy urbanitas. Eu vix splendide temporibus scribentur.</p>
      <%= link_to 'View More', portfolio_adventure_path, class: "btn btn-primary btn-xl js-scroll-trigger learn-more" %>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "https://s3.us-east-2.amazonaws.com/aj-canaria/about-profile.jpg", width: '100%' %>
      </div>
      <div class="col-md-6">
        <h2>Meet AJ Canaria</h2>
        <hr class="my-5">
        <p>I was born in New York, Raised in Los Angeles, and studied in San Francisco. Living in Los Angeles, I came to embrace the narrative aspects of photography and took that knowledge to document life in San Francisco.
          Since I've lived in Austin, Seattle, and currently reside in Denver as PlanOmatic's Chief Photographer.
          My photographs aim to highlight the emotions of the event experience, capture peak performances in action, and overall chronicle the story to convey a powerful story.
        </p>
        <%= link_to(image_tag("facebook.png", width: '50px'), 'http://google.com', class: 'inline-block social', target: '_blank') %>
        <%= image_tag "instagram.png", width: '50px', class: 'inline-block social' %>
        <%= image_tag "linkedin.png", width: '50px', class: 'inline-block social' %>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <%= render 'contact' %>
</section>
